<table class="table">
        <tr>
            <th colspan="7">Course Information</th>
        </tr>
        <tr></tr>
    <tbody data-bind='with: course'>
        <tr>  
           @* <td>
                <input class="input-large" data-bind='value: OrganizationId'  placeholder="Organization Id"/>
            </td>*@
            <td>
                <input list="organization" id="organizationInput" name="organization" class="input-large" placeholder="Organization" autocomplete="on" type="text" required="required" />
                     <!-- populated on load via JSON -->
                    <datalist id="organization" data-bind="foreach: Organizations"/>
            </td>  
            <td>
                <input class="input-large" data-bind='value: UniversalId'  placeholder="Universal Id"/>
            </td> 
            <td>
                <input class="input-large" data-bind='value: CourseNumber'  placeholder="Course Number"/>
            </td>            
            <td>
                <input class="input-large" data-bind='value: Name'  placeholder="Name"/>
            </td> 
            <td>
                <input class="input-large" data-bind='value: Description'  placeholder="Description"/>
            </td>   
            <td>
                <input class="input-large" data-bind='value: CreditHour'  placeholder="Credit Hour"/>
            </td> 
            <td>
                <input class="input-large" data-bind='value: ClockHour'  placeholder="Clock Hour"/>
            </td>        
        </tr>
    </tbody>
</table>
 
<button class="btn btn-small btn-success" data-bind='click: saveCourse'>Save Course</button>
<input class="btn btn-small btn-primary" type="button" value="Back To Course List" data-bind="click:$root.backToCourseList" />
 
<script src="~/Scripts/CreateEdit.js">
</script>
